.listBtn {
        padding: 10px;
        width: 100px;
        height: 40px;
        border-radius: 50px;
        border: none;
        font-size: 10px;
        font-weight: bold;
        background-color: rgb(200, 200, 200);
        cursor: pointer;
        margin-right: 5px;
        margin-bottom: 5px;
}